
.vert {
  color: black;
  text-align: center;
  font-family: kano;
  margin-top: 35rem;
  position: relative;
  margin-left: -20rem;
  left: 10rem;
}


.fotka {
    align-items: center;
    width: 25vw;
    margin-top: 12rem;
}

#drugi {
    position: absolute;
    margin-left: -15rem;
}

h1 {
    color: rgb(98, 98, 98);
    transform: rotate(90deg);
    font-family: montserrat;
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: -8rem;
  }


.dnt-div {
    display: flex;
    justify-content: flex-end;
    position: absolute;
}


.dnt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.dndiv2 {
    right: 20vw;
    position: absolute;
    transform: translateY(-40rem) translateX(43%);
}

.dndiv {
    display: flex;
    gap: 2rem;
    margin-top: 10rem;
    flex-direction: column-reverse;
    border-right: 2px solid black;
    margin-right: 1rem;
    align-items: flex-start;
    width: 14rem;
}

.abouticonone {
    height: 1.5rem;
}


.abouticontwo {
    height: 2rem;
}

.aboutleft {
    display: flex;
    flex-direction: column;
}

.aboutleftp {
    display: flex;
    flex-direction: row;
    font-family: kano;
    align-items: center;
    width: 25vw;
    margin: 0rem;
}

.edu {
    margin: 0rem 0rem;

}

#mp {
    margin-top: -1rem;
}

#bp {
    margin-top: -1rem;
}

.edutitle {
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 200;
}


.mail {
    margin: 0rem;
}


.dndiv :nth-child(1) {
    margin-top: 1rem;
}


.dndiv :nth-child(2) {
    margin-top: 11.5rem;
    margin-bottom: 7rem;
}

.dndiv :nth-child(3) {
    margin-top: 3.5rem;
}

.dndiv :nth-child(4) {
    margin-top: 3.5rem;
}

.dndiv :nth-child(5) {
    margin-top: 4.5rem;
}


.dndiv :nth-child(6) {
    margin-top: 1rem;
}





.dn {
    display: flex;
    flex-direction: column;

    top: 0;
}


.d {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem;
    font-size: 0.8rem;
    flex-direction: row;
    font-family: montserrat;
    font-weight: 600;

}

.n {
    display: flex;
    font-weight: 500;

    font-family: montserrat;
    flex-direction: row;
    font-size: 1.1rem;

}

.tdiv {

    padding-left: 0rem;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 10rem;
}

.tb {
    display: flex;
    line-height: 1.2rem;
    margin-top: 01rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: montserrat;

}


.tt {
    display: flex;
    line-height: 1.2rem;
    margin-top: 01rem;
    font-size: 0.8rem;
    font-family: montserrat;
    font-weight: 300;
}


.aboutdiv {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}