
#menuToggle
{
  display: block;
  position: relative;
  left: 50px;
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;

}

.icon {
  position: absolute;
  top: -15px;
}

.iconimg {
  transform: rotate(180deg) ;
  width: 70px;
  filter: brightness(0) contrast(1);
}





#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}



.hamburger input:hover ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ededed;
}


/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:hover ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.hamburger input:hover ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.hamburger:hover ~ .navbg {
  display: block;
  animation: dark 0.3s linear 0s forwards;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  top: 0;
  width: 300px;
  height: 100vh;
  margin: -50px 0px 0px -50px;
  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.hamburger:hover input:checked ~ ul
{
  transform: none;
}

.hamburger:hover input:hover  ~ ul
{
  transform: none;
}

.hamburger {
  width: 20vw;
  position: absolute;
  left: 0;
  top: 35px;
  width: 30vw;
  height: 100vh;
}


#menuToggle:hover #menu  {
  transform: translateX(0rem);
} 



.hamburger:hover input:hover  ~ ul
{
  transform: none;
}

.navbg {
  position: fixed;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  transition: 0.4s;
  display: none;
}



@keyframes dark {
  from {background-color: rgba(0, 0, 0, 0)(255, 255, 255);}
  to {background-color: rgba(0, 0, 0, 0.662);}
}