* {
	box-sizing: border-box;
}
body {
	background: var(--check);
  transition: .5s;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500&display=swap');



.top {
  display: flex;
  background-color: var(--check);
  transition: 0.5s;
  width: 100vw;
  height: 13vh;
  position: fixed;
  z-index: 999999999999999999;
  box-shadow: 0px 0px 20px  var(--check2);
}

.hover-left {
  position: fixed;
  left: 0vw;
  bottom: 0vw;
  z-index: 99999999;
  width: 15vw;
  background-color: red;
  height: 80vh;
  opacity: 0;
  cursor: w-resize;
}

.hover-right {
  position: fixed;
  right: 0vw;
  bottom: 0vw;
  cursor: e-resize;
  opacity: 0;
  z-index: 99999999;
  width: 15vw;
  background-color: red;
  height: 80vh;
}


.o-left {
  bottom: 0;
  position: fixed;
  filter: blur(1vw);
  left: -10vw;
  width: 50vw;
  height: 10vw;
	background: var(--check);
  z-index: 99;
  transition: 0.5s;
}

.o-right {
  position: fixed;
  transition: 0.5s;
  filter: blur(1vw);
  z-index: 99;    
  bottom: 0;
  right: -10vw;
  width: 50vw;
  height: 10vw;
	background: var(--check);
}

.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.cards {
	position: absolute;
	width: 40vw;
	height: 15vw;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 40vw;
  display: flex;
  justify-content: center;
	height: 15vw;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	font-family: sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;
}

.cards li span {
  color: white;
  color: var(--padrao);
}


.cards li span:cue {
  color: red;
}


.content {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30vh;
  left: 70vw;
	transform: translateX(-50vw) translateY(5vw);
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  cursor: pointer;
  gap: 2vw;
}

.number {
  display: flex;
  font-size: 6rem;
  position: absolute;
  opacity: 0.1;
  font-family: 'Montserrat';
  font-weight: 600;
  transform: translateY(0.8vh);
  margin-left: -4vw;
  color: var(--padrao);
}

.name {
  font-size: 1.1rem;

  width: 15rem;
  font-family: raleway;
  margin-top: 18vh;
  margin-left: -4vw;
  color: var(--padrao);
  font-weight: 600;
  line-height: 1.2rem;
  z-index: 999999999999999999999;
}

.actions {
	position: absolute;
	top: 84.5vh;
	left: 50vw;
  display: flex;
  gap: 10rem  ;
	transform: translateX(-50%);
}

.material-symbols-outlined {
  transform: scale(1.5);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 998
}

button {
  display:inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: none;
  color: var(--padrao);
  cursor: pointer;
}

button:hover {
  background: none;
  animation-name: buttonan;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes buttonan {
  0%   {transform: translateX(0px);}
  50%  {transform: translateX(5px);}
  100% {transform: translateX(0px);}
}
a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  position: fixed;
  width: 100vw;
  position: absolute;
  top: 0;
  justify-content: center;
}

.menu {
  width: 2.2vw;
  height: 1.5vw;
  opacity: 0.8;
  filter: invert(1);
  margin: 5vh 5vw;
}

.mail {
  width: 3vw;
  height: 3vw;
  opacity: 0.8;
  filter: invert(1);
  margin: 5vh 5vw;
}


.projectimg {
  cursor: pointer;
  box-shadow: 0 3px 30px rgb(0 0 0 / 0.2);

}


.menu-png {
  filter: invert(1);
  width: 10vw;
  height: 10vw;
}

.logo {
  display: flex;
  justify-content: center;
  color: var(--padrao);
  margin-top: 4vh;
  font-size: 2.1rem;
  font-family: raleway;
  position: fixed;
  text-align: center;
  font-weight: 200;
}

.surname {
  font-weight: 400;
  color: var(--padrao);
}


@media only screen and (max-width: 800px) {
  .gallery {
    transform: rotate(90deg);
  }

  .cards li {
    transform: rotate(270deg);

  }

  
.gallery {
	position: absolute;
  width: 70%;
	overflow: visible;
}

.cards {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2);
}

.cards li {
	list-style: none;
	padding: 0;
  width: 15vh;
  display: flex;
  justify-content: center;
	height: 15vw;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	font-family: sans-serif;
	position: absolute;
	top: -5vw;
	left: 3vh;
	border-radius: 0.8rem;
}
  
.projectimg {
  width: 100%!important;
  height: auto !important;

  overflow: hidden;
  transform: translateY(-6vh);
}

article {
  width: 40vw !important;
  height: 13vh !important;
  overflow: hidden;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0vh;
    left: -2vw;
    transform: translateX(-20rem) translateY(20vh) scale(0.5);
    width: 100vh;
    height: 100vw;
    z-index: 999999999999999999999999999999;
    cursor: pointer;
    gap: 2vw;
}

.o-left {
  width: 100vw;
  height: 20vh;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

}