
body {
  animation-name: pocetak;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background: white;
  font-family: raleway;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500&family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fullimg {
  transform: scale(1.3);
  transition: 1s;
}

.fullimg {
  transform: scale(1.3);
  transition: 1s;
}



.vanish-left {
  transform: translateX(-50vw);
  transition: 1s;
}

.vanish-right {
  transform: translateX(50vw);
  transition: 1s;
}

.fulldotleft {
  transform: translateX(49vw);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.fulldotright {
  transform: translateX(80vw);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


@keyframes pocetak {
  0% {transform: translateX(-150vw);}
  100% {transform: translateX(0vw);}
}

.ms-left .ms-left .ms-section div {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
    background-color: rgba(0, 0, 0, 0) !important;
}

iframe {
  width: 100%;
  height: 100%;
  margin-left: -25%;
  margin-top: 7%;
  border: none;
}



.ms-section {
  width: 10%;
}


.fullscreen {
  transition: 1s;
  width: 100% !important;
  
}

.ms-section ms-table active {
  width: 200vw !important;
}

.fullscreenalt {
  transition: 1s;
    width: 99% !important;
}

.invert {
  filter: invert(1);
}

.noscreen {
  transition: 1s;
  width: 1% !important;
}



@keyframes full {
  0% {  width: 0% !important;}
  100% {  width: 100% !important;}
}



.ms-right  .ms-section div {
  background-size: 22px 22px; 
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
  justify-content: center;
}

.ms-left .ms-section div{

  background: white;
  background-size: 22px 22px; 
  display: flex;
  align-items: center;
  justify-content: center;

}

.ms-left {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.ms-right {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}



.colornav {
  background: white !important;
}


.title {
  color: white;
  z-index: 99999999999;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 12vh;
}

.titlebg {
  position: absolute;
  z-index: 9999;
  opacity: 0.03 ;
  transition: 1s;
  font-size: 15rem;
  font-weight: 700;
  top: 5vh;
  mix-blend-mode: difference ;
}



.ms-section .ms-table {
  height: 200%;
}

#multiscroll-nav {
  top: 57vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#multiscroll-nav li {
  display: flex;
   margin: 3vh 2.5rem;

  position: relative;
  

} 


.blackdot {
  background: black;


}

#multiscroll-nav li .active span {
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-fill-mode:both ;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid black ;
  
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}


#multiscroll-nav.right {
  display: flex;
}



.plus {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  text-align: center;
  letter-spacing: 0.3rem;
}

.plus:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.divimg {
  cursor: pointer;
  z-index: 99999;
  display: flex;
  width: 60vw;
  overflow: visible;
  margin-top: 10vh;
  background-color: red;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


.divtxt {
  display: flex;
  flex-direction: column;
  transform: translateX(-15vw);
  z-index: 0;

  width: 20vw;
  height: 100vh;
}

.proh1 {
  display: flex;
  margin-left: 2vw;
  color: black;
  font-size: 100vw !important;
}

.prop {
  display: flex;
  width: 40vw;
  margin-left: 4vw;
  color: black;
  background-color: rgba(0, 0, 0, 0) !important;
}

.img {
  width: 100%;
  height: auto;
  z-index: 99999999999999;
  transform: scale(1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.img:hover {
  transform: scale(1.1);

}

.navigation1 {
    margin-top: 86vh;
    display: flex;
    justify-content: center;
    z-index: 99999;
    

}
.navigation1 ul {
  z-index: 999;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 1.5vw;
  
}

.navigation1 ul li span i {
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 100%;
    mix-blend-mode: difference;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .3s ease 0s;
    text-align: center;
    
    
}


.nav {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  z-index: 9999999999999999999999999999999999;
  
}





.logo {
  mix-blend-mode: difference;
  font-size: 3rem;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 9999999999999999999999999999999999;
  font-family: Raleway;
  text-align: center;
  position: fixed;
  font-weight: 500;
}

.surname {
  z-index: 999999;
  font-weight: 700;
  mix-blend-mode: difference;
}

.up {
  color: var(--padrao);

}


.down {
  color: var(--padrao);

}
.why-multiscroll-container {
  
}

#multiscroll-nav span {
  border: 2px solid rgb(30, 30, 30) ;
  position: absolute;
  border: none;
  left: -0VW;
  margin-top: -6vh;
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(0.7);
  border: 2px solid black ;
  background-color:   border: 2px solid rgb(30, 30, 30) ;;
}

#multiscroll-nav span a {
  margin: 20vw;
}

.ms-left {
  width: 90% !important;
  background-color: red !important;
}

.ms-right {
  width: 20% !important;
}

.back {
  position: absolute;
  z-index: 99999999;
  right: 5rem;
  top: 4.5rem;
}

.material-symbols-outlined {
  transform: rotate(90deg) scale(1.5);
  transition: 0.5s;
  
}

.material-symbols-outlined:hover {
  transform: rotate(90deg) scale(1.7);
  cursor: pointer;
  
}